@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;700&display=swap');

.app.dark {
  background: #121721;
}

/* Navbar Styles */
nav {
  background-image: url(../src/assets/desktop/bg-pattern-header.svg);
  background-position: 40% 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 165px;
}

.nav-logo {
  width: 115px;
  height: 30px;
  object-fit: contain;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.toggler {
  width: 48px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.toggler input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #5964e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover::before {
  background: #939bf4;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Searchbar Styles */
.searchbar-container {
  background: #ffffff;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  align-items: center;
  width: 1075px;
  border-radius: 6px;
  margin: 0 165px;
  position: absolute;
  top: 13%;
  padding: 0 16px 0 32px;
}

.searchbar-container.dark {
  background: #19202d;
}

.search-bar {
  width: 410px;
  height: 56px;
  display: flex;
  align-items: center;
  border-right: 1px solid #e8e6e6;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.location-bar {
  width: 302px;
  height: 56px;
  display: flex;
  align-items: center;
  border-right: 1px solid #e8e6e6;
  padding-left: 20px;
}

.location-icon {
  width: 13px;
  height: 18px;
}

input[type='text'] {
  color: #19202d;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 20px;
  text-indent: 16px;
  width: 100%;
}

input[type='checkbox'] {
  background: #e8e6e6;
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

input:checked {
  color: #fff;
  background: #5964e0;
}

.submit {
  width: 345px;
  display: flex;
  align-items: center;
  gap: 26px;
  padding-left: 20px;
}

label {
  color: #19202d;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  margin-right: auto;
}

.dark label {
  color: #fff;
}

.search {
  color: #fff;
  background: #5964e0;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  width: 123px;
  height: 38px;
}

.search:hover {
  background: #939bf4;
}

/* Listings Styles */
.job-listings {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding-bottom: 105px;
  margin: 105px 165px;
  gap: 50px 30px;
}

.listing-card {
  background: #fff;
  position: relative;
  width: 330px;
  height: 238px;
  border-radius: 6px;
}

.listing-card.dark {
  background: #19202d;
}

.job-logo-container {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -11%;
  margin-left: 30px;
}

.job-logo {
  object-fit: contain;
}

.job-details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 49px 32px 36px 32px; */
  padding: 49px 30px 36px 32px;
}

.duration {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

span {
  color: #6e8098;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #19202d;
}

a:hover,
a.dark:hover {
  color: #6e8098;
}

a.dark {
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 25px;
  margin-bottom: 14px;
}

.job-location {
  color: #5964e0;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 17px;
  margin-top: 34px;
}

/* Job Details Page */
.job-details-page {
  font-family: 'Kumbh Sans';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 355px;
}

.banner {
  background: #fff;
  width: 730px;
  height: 100px;
  position: absolute;
  top: 12%;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.dark .banner {
  background: #19202d;
}

.company-logo {
  width: 100px;
  max-width: auto;
  height: 100px;
  object-fit: scale-down;
  border-radius: 0px 0px 0px 6px;
}

.text {
  color: #19202d;
  padding: 24px 232px 24px 40px;
  margin-right: auto;
}

.dark .text {
  color: #fff;
}

.text h2 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 30px;
  margin-bottom: 4px;
}

.button {
  color: #5964e0;
  background: #abb0e754;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: center;
  margin-right: 43px;
}

.button:hover {
  color: #5964e0;
  background: #7e86cd7b;
}

.dark .button {
  color: #fff;
  background: #373d49;
}

.dark .button:hover {
  background: #545a67;
}

.job-details {
  color: #19202d;
  background: #fff;
  border-radius: 6px;
  margin-top: 72px;
  padding: 48px 43px 48px 48px;
}

.dark .job-details {
  color: #fff;
  background: #19202d;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 35px;
}

li,
p {
  color: #6e8098;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 20px;
}

.dark span:not(.page-location, .job-location),
.dark p {
  color: #9daec2;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: auto;
}

.page-info {
  display: flex;
  gap: 10px;
}

.page-location {
  color: #5964e0;
  font-weight: 700;
  line-height: 17px;
}

.apply {
  color: #fff;
  background: #5964e0;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: center;
}

.apply:hover {
  color: #fff;
  background: #939bf4;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 25px;
  margin: 40px 0 23px 0;
}

.items {
  margin-top: 24px;
}

li {
  margin-bottom: 8px;
  padding-left: 32px;
  margin-left: 16px;
  color: #5964e0;
}

ol li {
  color: #5964e0;
  font-weight: bold;
}

ul span,
ol span {
  font-weight: 300;
}

/* Footer Styles */
footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 23px 355px;
  margin-top: 80px;
}

footer.dark {
  color: #fff;
  background: #19202d;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: auto;
}

h4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 25px;
}

/* Media Queries Styles */
@media all and (max-width: 1250px) {
  nav {
    height: 160px;
    padding: 0 40px;
  }

  .job-listings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 45px 39px;
    gap: 60px 11px;
  }

  .container {
    padding: 0 40px;
  }

  .banner {
    width: 689px;
    top: 11%;
  }
}

@media all and (max-width: 480px) {
  nav {
    padding: 0 24px;
  }

  .job-listings {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .banner {
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 200px;
    top: 17%;
  }

  .company-logo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    top: -10%;
  }

  .job-details {
    margin-top: 214px;
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }

  .top {
    flex-direction: column;
  }

  .left {
    margin-bottom: 50px;
  }

  .apply {
    width: 100%;
  }

  footer {
    padding: 23px 39px;
  }

  .footer-left {
    display: none;
  }
}
